.nav-link {
  color: #fff;
  text-transform: uppercase;
}

.btn-blue {
  background-color: #2eabdd;
  border: none;
}

.navbar-design {
  background-color:#2eabdd;
}

.jumbotron {
  text-align: center;
  background-image: url("/public/images/ube-cream.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
