.nav-link {
  color: #fff;
  text-transform: uppercase;
}

.btn-blue {
  background-color: #2eabdd;
  border: none;
}

.navbar-design,
.footer-design {
  background-color:#2eabdd;
}

.footer-design {
  padding-top: 3%;
  padding-bottom: 2%;
  color: #fff;
  text-align: center;
}

.fa-instagram ,
.fa-facebook,
.fa-twitter,
.fa-youtube {
  color: #fff;
}

.jumbotron {
  text-align: center;
  background-image: url("/public/images/ube-cream.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body-custom {
  padding-top: 0px !important;
}


/* Containers */

.content-container {
  padding: 5% 15%
}

/* Images */

.heartIcon {
  height: 50px;
}

.about-img,
.about-lg-img {
  border-radius: 50%;
}

.contact-img {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

.about-lg-img {
  width: 400px;
}

.about-img {
  width: 250px;
}

/* Fonts */

.flavor-titles,
.about-titles {
  color: #2eabdd;
  text-align: center;
  text-transform: uppercase;
}

.about-titles {
  font-size: 35px;
}

.flavor-titles {
  font-size: 25px;
}